@import "./constants.less";

body {
  .container {
    margin-left: 20px;
    margin-top: 140px;
  }
  .header {
    top: 0;
    width: 100vw;
    background-color: @highlight-color;
    padding-left: 20px;
    position: fixed;
    // margin: 20px 0;
    #login-buttons {
      position: absolute;
      left: 20px;
      top: 80px;
      font-size: 18px;
      .login-button {
        background-color: @highlight-color;
      }
    }
    h1 {
      font-size: 2.5em;
      font-weight: 500;
      b {
        font-weight: 800;
      }
    }
  }

  .job-create {
    padding: 12px;
    margin: 0 auto;
    width: 60%;
    box-shadow: 0px 0px 21px 1px fade(@highlight-color, 75%);
    padding-bottom: 50px;
    h2 {
      margin: 10px 0;
      text-align: center;
      font-size: 2em;
    }
    input,
    .desc {
      display: block;
      border: 1px solid fade(@dark-contrast, 60%);
      padding: 5px;
      border-radius: 4px;
      margin: 0 auto;
      &:focus {
        outline-color: @dark-contrast;
      }
    }
    .desc {
      font-size: 1em;
      width: 70%;
      resize: vertical;
      margin: 20px auto;
    }
    input {
      font-size: 1.2em;
    }
    .submit {
      outline: none;
      width: 120px;
      height: 30px;
      border: 1px solid @highlight-color;
      border-radius: 4px;
      background: white;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: all .5s ease-out;
      &.disabled {
        //  pointer-events: none;
        color: grey;
        cursor: not-allowed;
      }
      &.active {
        background-color: @highlight-color;
        color: white;
        cursor: pointer;
      }
    }
  }
  .jobs-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    .job {
      margin: 5px;
      padding: 5px;
      box-shadow: 0px 0px 2px 1px fade(@highlight-color, 75%);
      .new-bid {
        .bid-price {
          display: block;
          font-size: 1.8em;
          input {
            font-size: 1.8em;
            margin-bottom: 10px;
            margin-right: 10px;
            width: 160px;
            height: 40px;
          }
        }
        textarea {
          border: 1px solid fade(@dark-contrast, 60%);
          width: 90%;
          font-size: 1.2em;
        }
      }
      .delete-job {
        float:right;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}
